<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>23Publicidad</title>
    <link rel="icon" type="views/images/x-icon" href="views/img/23Logo.png">
    <link rel="stylesheet" href="/views/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="" class="navbar__logo"><img src="/views/img/23LogoText.png" alt=""></a>
            <ul class="navmenu">
                <li class="nav--item">
                    <a href="" class="nav-link">Productos</a>
                </li>
                <li class="nav--item">
                    <a href="contact.html" class="nav-link">Contactanos</a>
                </li>
                <li class="nav--item">
                    <a href="" class="nav-link">Ubicanos</a>
                </li>
                <li class="nav--item">
                    <a href="" class="nav-link">Iniciar Sesión</a>
                </li>
                <li class="nav--item">
                    <a href="" class="nav-link">Carrito</a>
                </li>
            </ul>
            <div class="navbar--hamburguer">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main class="contenedor">
        <div class="pasos_container">
            <div class="pasos_container_steps">
                <ul>
                    <li class="step active">Paso 1</li>
                    <li class="step">Paso 2</li>
                    <li class="step">Paso 3</li>
                    <li class="step">Paso 4</li>
                </ul>
            </div>
        </div>
        <div class="main__product contenedor">
            <div class="main__product__info">
                <h1 class="main__product__title">Etiquetas Rectangulares</h1>
                <p class="main__product__description">Lorem Ipsum ha sido el texto de relleno estándar de las industrias
                    desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido
                    usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                </p>
                <img src="/views/img/products/Cuadrada.png" alt="" class="product__img">
            </div>

            <div class="main__product__options">
                <form action="">
                    <div class="form-one step-form active">
                        <p>Tamaño</p>
                        <div>
                            <select name="size-select" id="size-select">
                                <option value="none">Selecciona una opcion</option>
                                <option value="25-25">25mm x 25mm</option>
                                <option value="50-50">50mm x 50mm</option>
                                <option value="75-75">75mm x 75mm</option>
                                <option value="100-100">100mm x 100mm</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="form-two step-form">
                        <p>Cantidad</p>
                        <div>
                            <select name="size-select" id="size-select">
                                <option value="none">Selecciona una opcion</option>
                                <option value="50pzs">50 piezas</option>
                                <option value="100pzs">100 piezas</option>
                                <option value="200pzs">200 piezas</option>
                                <option value="300pzs">300 piezas</option>
                                <option value="1000pzs">1,000 piezas</option>
                                <option value="2000pzs">2,000 piezas</option>
                                <option value="3000pzs">3,000 piezas</option>
                                <option value="4000pzs">4,000 piezas</option>
                                <option value="5000pzs">5,000 piezas</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-three step-form">
                        <p>Sube tu archivo</p>
                        <div>
                            <input type="file" name="img-add" id="img-add">
                        </div>
                    </div>

                </form>
                <form action="">
                    <div class="product__buttonsgroup">
                        <button class="primary__button" id="backButton">Atras</button>
                        <button class="primary__button red" id="nextButton">Siguiente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
<script src="views/js/script.js"></script>
</html> 