<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A200%2C300%2C400%2C500%2C600%2C800"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A200%2C300%2C400%2C500%2C600%2C800"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400"/>
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="login__container">
        <div class="login__left">
            <div class="login__imageconfig">
                <img class="mainimg" src="img/etiquetas-flexografia.jpg" alt="">
            </div>
        </div>
        <div class="login__right">
            <div>
                <div class="logo-and-message">
                    <img class="logo" src="img/logo-sin-fondo.png" alt="">
                    <p class="publicity-message">Publicidad</p>
                </div>
                <p class="welcome-message">Bienvenido de vuelta.</p>
                <p class="login-message">Inicia sesión para continuar.</p>
                <div>
                    <form action="">
                        <label>Ingresa tu correo.</label>
                        <input type="email" class="box" placeholder="Email">
                        <label>Contraseña.</label>
                        <input type="password" class="box" placeholder="Contraseña">
                        <div>
                            <p class="forget-password">¿Olvidaste tu contraseña?</p>
                        </div>
                        <div class="submit-button">
                            <input class="login-button" type="submit" value="Iniciar Sesión">
                        </div>
                        <div>
                            <input class="register-button" type="submit" value="Regístrate">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>